name: Daily ETF Price Update
  schedule:
    - cron: '0 7 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: pip install yfinance pandas
      - name: Run script
        run: python etf.py
      - name: Commit and push changes
        run: |
          git config --global user.name "actions-user"
          git config --global user.email "actions@github.com"
          git add etf_prices.csv
          git commit -m "Update daily prices"
          git push
